*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    width: 100%;
    padding: 0.7rem 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr 8fr 1fr 220px;
}

header button.header-button{
    height: 39px;
    border: none;
    /* outline: 1px solid olive; */
}
.menu.logo{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    
}
.menu.logo button{
    background-color: white;
    padding: 0.5rem;
}
.search-box{
    padding-left: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 60px 40px;
}
#magnifying-glass{
    padding: 00.5rem;
    background-color: #f8f8f8;
    outline: 1px solid #d3d3d3;
}
.search-box input{
    height: 39px;
    outline: 1px solid #d3d3d3;
    border: none;
}
.search-box button#mic{
    margin-left: 6px;
    border-radius: 50%;
    padding: 0.6rem 0.4rem;
    background-color: #f9f9f9;
}
.search-box input::placeholder{
    padding-left: 1rem;
    font-size: 1rem;
    color: #888888;
}
.right-buttons{
    display: grid;
    grid-template-columns: 60px 60px 100px;
}
.right-buttons button{
    background-color: white;
    padding: 0.3rem;
}
button.sign-in{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    /* gap: 0.5rem; */
    color: #196bd7;
    font-weight: bold;
    outline: 1px solid #196bd7;
}
button.sign-in svg{
    fill: #196bd7;
}
hr{
    border: none;
    outline: 1px solid #e5e5e5;
}