@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0.7rem 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr 8fr 1fr 220px;
}

header button.header-button{
    height: 39px;
    border: none;
    /* outline: 1px solid olive; */
}
.menu.logo{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    
}
.menu.logo button{
    background-color: white;
    padding: 0.5rem;
    padding-left: 0;
}
.search-box{
    padding-left: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 60px 40px;
}
#magnifying-glass{
    padding: 00.5rem;
    background-color: #f8f8f8;
    outline: 1px solid #d3d3d3;
}
.search-box input{
    height: 39px;
    outline: 1px solid #d3d3d3;
    border: none;
    font-size: 18px; 
    padding-left: 1rem;
}
.search-box button#mic{
    margin-left: 6px;
    border-radius: 50%;
    padding: 0.6rem 0.4rem;
    background-color: #f9f9f9;
}
.search-box input::placeholder{
    
    font-size: 1rem;
    color: #888888;
}
.right-buttons{
    display: grid;
    grid-template-columns: 60px 60px 100px;
}
.right-buttons button{
    background-color: white;
    padding: 0.3rem;
}
button.sign-in{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    /* gap: 0.5rem; */
    color: #196bd7;
    font-weight: bold;
    outline: 1px solid #196bd7;
}
button.sign-in svg{
     fill: #196bd7;
}

/* End of header */
/* Main  */


main{
    display: grid;
    grid-template: 
    'sidebar  topics '53px
    'sidebar  videos '1fr/
    250px 1fr;
}
main section.topics{
    outline: 1px solid black;
    grid-area: topics;
    overflow-x: scroll;
    border-top: 2px solid #e5e5e5;
    position: sticky;
    background-color: white;
    top: 61.4px;
}
main section.topics::-webkit-scrollbar{
    height: 1px;
}
main section.videos{
    grid-area: videos;
    outline:1px solid black;
}
main section.sidebar{
    grid-area: sidebar;
    outline:1px solid black;
}

/* End of Main */
/* Topics */

main section.topics ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    height: 100%;
    gap: 1rem;
    padding-left: 1rem    ;
}
main section.topics ul li a{
    text-decoration: none;
    color: black;
    
    
}
main section.topics ul li{
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 0.4rem 0.7rem;
    border: 1px solid #e0e0e0;
    min-width: max-content;
}
main section.topics ul li:first-child{
    background-color: black;
    
    
}
main section.topics ul li:first-child a{
    color: white;
}